# Local PostgreSQL database used by the application
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/tech_jobs_db

# The API used as the job-data source
JOB_SOURCE_URL=https://www.arbeitnow.com/api/job-board-api

# Dedicated PostgreSQL database used only for integration tests
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/tech_jobs_test
